@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Secular+One&display=swap');

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.for_dark_theme {
  background: radial-gradient(circle at center, #172f33 0%, #000000 100%);
  color: white;
}

.for_light_theme {
  background: radial-gradient(circle at center,   #ffffff 0%, #172f33 100%);
  color: black;
}

.for_light_theme input {
  color: black;
}

.for_light_theme .mode-btn {
  color: white;
  background-color: transparent;
  border: 1px solid #cbd5e1;
}

.for_light_theme .mode-btn.active-mode {
  color: black;
  background-color: white;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand {
  display: flex;
  align-items: flex-start; 
  gap: 0.5rem;
  font-family:'sans-serif';
  font-size: 2rem;
  position: absolute;
  top: 1.4rem;    
  left: 1.6rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: 800;
  color: black;
  text-align: center;
  line-height: 1.2;
  margin-top: 2rem;
}
.for_dark_theme .hero-title {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.for_dark_theme .hero-title span {
  color: white;
}

.hero-title span {
  color: black;
  display: block;
  margin-top: 0.5rem;
}

.hero-subtext {
  text-align: center;
  max-width: 800px;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
  color: black;
}
.for_dark_theme .hero-subtext {
  color: #e0e7ff;
}

.url-input {
  background-color: white;
  color: black;
  border: 1px solid #94a3b8;
}


.for_dark_theme .url-input {
  background-color: #1e293b;
  color: white;
  outline: none;
  width: 100%;
  max-width: 500px;
  height: 44px;
  padding: 0 12px;
  border-radius: 12px;
  border: 1px solid #94a3b8;
}


.for_light_theme button[type="submit"] {
  background-color: #172f33; 
  color: #fff;
}

.summary-box p{
  color: rgb(33, 33, 33);
}


.highlight {
  font-size: 1.5rem;
  color: #172f33; 
}

.for_dark_theme .highlight {
  color: #9bf0ff;
}
button.active-mode {
  background-color: white;
  color: black;
}
.bg {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 60px;
  background-position: center;
  background-size: cover;
  overflow-x: hidden; 
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.headtxt {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.grd {
  background: -webkit-linear-gradient(purple, rgb(255, 0, 230));
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.txtsummary {
  margin: 5px 100px;
  color: black;
}


.formsection {
  align-items: center;
  justify-content: center;
  margin: 50px 100px;
  display: flex;
}

.url-input {
  height: 40px;
  padding-left: 10px;
  padding-bottom: 2.5px;
  padding-right: 12px;
  border-radius: 12px;
}

.summary-box {
  padding: 20px;
  border-radius: 12px;
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
  background-color: #f1f5f9;
  color: black;
}


.for_light_theme .summary-box {
  background-color: rgba(255, 255, 255, 0.05);
}
